.register-section {
        padding: 80px 0;
        background-color: #f9f9f9;
        font-family: monospace ; 
        direction: rtl;
    }
    .register-card {
        max-width: 500px;
        margin: 0 auto;
        background: #fff;
        padding: 40px;
        border-radius: 15px;
        box-shadow: 0 10px 30px rgba(0,0,0,0.05);
    }
    .register-card h2 {
        color: #222;
        font-weight: 700;
        margin-bottom: 30px;
        text-align: center;
        border-bottom: 3px solid #FFD93D; 
        display: inline-block;
        padding-bottom: 10px;
    }
    .form-control {
        border-radius: 8px;
        padding: 12px 15px;
        border: 1px solid #ddd;
        margin-bottom: 5px;
        text-align: right;
        direction: rtl;
    }
    .form-control:focus {
        border-color: #FFD93D;
        box-shadow: 0 0 0 0.2rem rgba(255, 217, 61, 0.25);
    }
    .btn-register {
        background-color: #222;
        color: #fff;
        padding: 12px;
        border-radius: 8px;
        width: 100%;
        font-weight: 600;
        transition: 0.3s;
        border: none;
        margin-top: 20px;
    }
    .btn-register:hover {
        background-color: #FFD93D;
        color: #222;
    }
    .error-text {
        color: #dc3545;
        font-size: 13px;
        margin-bottom: 10px;
        display: block;
    }




    .login-section {
        padding: 100px 0;
        background-color: #f4f4f4;
        direction: rtl
    }
    .login-card {
        max-width: 500px;
        margin: 0 auto;
        background: #fff;
        padding: 40px;
        border-radius: 20px;
        box-shadow: 0 15px 35px rgba(0,0,0,0.1);
        text-align: right;
    }
    .login-card h2 {
        font-weight: 800;
        color: #222;
        margin-bottom: 30px;
        position: relative;
    }
    .login-card h2::after {
        content: '';
        display: block;
        width: 50px;
        height: 4px;
        background: #FFD93D;
        margin: 10px auto;
        border-radius: 2px;
    }
    .form-control {
        border-radius: 10px;
        padding: 12px 20px;
        border: 1px solid #eee;
        background-color: #f9f9f9;
        text-align: right;
        direction: rtl;
        
    }
    .form-control:focus {
        border-color: #FFD93D;
        box-shadow: none;
        background-color: #fff;
    }
    .btn-login {
        background-color: #222;
        color: #fff;
        border: none;
        padding: 15px;
        border-radius: 10px;
        width: 100%;
        font-weight: 600;
        font-size: 18px;
        transition: all 0.3s ease;
    }
    .btn-login:hover {
        background-color: #FFD93D;
        color: #222;
        transform: translateY(-2px);
    }
    .error-text {
        color: #ff4d4d;
        font-size: 13px;
        margin-top: 5px;
        display: block;
    }